<body id = "page-index">

    <div class="jumbotron jumbotron-main">
        <!--<h1 align="center">Sam & Andrea's Spectacular Extravaganza Funtime Hootenanny</h1>-->
        <h1 align="center">Sam & Andrea</h1>
        <h2 align="center">October 8th, 2016</h2>
        <h2 align="center">Brattleboro, VT</h2>
        
        
    </div>
    
    <div class="container container-border white round">
        <div class="container">
            <h2 align="center"><strong>Welcome</strong></h2><br>
            <%= image_tag("samdrea-cape.png", :alt => "samdrea", :align => "left", :class => "hotel-img img-responsive right-padding") %>
            <div class="row welcome-text">
                <br><p>Hello friends and loved ones! We're already married and we'd like to celebrate with all of you! We hope that 
                you can join us in Brattleboro, Vermont for our wedding reception on October 8th, 2016.</p><br>
                <p>We were wed November 2015 in Cape Cod by Sam's father, Ron Bruno, who is no longer with us. 
                Ron was a spirited dancer and a believer of self-made traditions. He will be smiling from above. </p><br>
                <p>Check out the information provided here for accommodations, directions, the weekend schedule, places to eat,
                and things to do nearby. We encourage you to book a place to stay sooner than later as this celebration occurs 
                on a holiday weekend. Don't hesitate to reach out if you have any questions. Can't wait to see you!</p><br>
            </div>
        </div>
        <br>
        <hr>
        <div class="container">
            <ul>
                <li>
                    <h2 align="center"><span class="fog02">} </span><%= link_to 'Accommodations', stay_path %><span class="fog02"> {</span></h2>
                </li>
                <li>
                    <h2 align="center"><span class="fog02">} </span><%= link_to 'Schedule', schedule_path %><span class="fog02"> {</span></h2>
                </li>
                <li>
                    <h2 align="center"><span class="fog02">} </span><%= link_to 'Things to Do', todo_path %><span class="fog02"> {</span></h2>
                </li>
                <li>
                    <h2 align="center"><span class="fog02">} </span><%= link_to 'Registry', registry_path %><span class="fog02"> {</span></h2>
                </li>
            </ul>
        </div>
    </div> <!-- /container-border white round -->
    
</body>