<body id="page-stay">

    <div align="center" class="container">
        <h1 align="center" class='jumbotron jumbotron-submain'>Accommodations</h1>
    </div>
    
    <div align="center" class="container container-border white round">
        <div class="container">
            <%= image_tag("colonial.jpg", :alt => "colonial", :align => "left", :class => "hotel-img") %>
            <h2 align="center">
                <!--<span class="chess">N </span>-->
                <a href="http://www.colonialmotelspa.com/">The Colonial Motel & Spa</a>
                <!--<span class="chess"> N</span>    -->
            </h2>
            <p class="hotel-deets"><span class="right-padding"><a href="https://www.google.com/maps/place/889+Putney+Rd,+Brattleboro,+VT+05301/@42.8786854,-72.5612457,17z/data=!3m1!4b1!4m5!3m4!1s0x89e11ae6898649eb:0xba066898fc318bc5!8m2!3d42.8786815!4d-72.559057?hl=en">889 Putney Rd, Brattleboro, VT 05301</a></span>
            <span>Phone: (802) 257-7733</span>
            </p><br>
            <p class="blurb">This is a newly renovated cozy place with a saltwater pool and spa. 
            A block of rooms have been saved for the Carusona/Bruno wedding reception. The
            afterpary on Saturday night will be held here.</p>
        </div>
        <hr>
        
        <div class="container">
            <%= image_tag("holidayinn.jpg", :alt => "holiday inn", :align => "left", :class => "hotel-img") %>
            <h2 align="center">
                <!--<span class="chess">I </span>-->
                <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/brattleboro/btbvt/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-USA-_-BTBVT">Holiday Inn Express & Suites</a>
                <!--<span class="chess"> I</span>-->
            </h2>
            <p class="hotel-deets"><span class="right-padding"><a href="https://www.google.com/maps/place/100+Chickering+Dr,+Brattleboro,+VT+05301/@42.8789749,-72.5661047,17z/data=!3m1!4b1!4m5!3m4!1s0x89e11ae165aacba9:0xad5b4a199661146a!8m2!3d42.8789749!4d-72.563916">100 Chickering Drive, Brattleboro, VT 05301</a></span>
            <span>Phone: (802) 257-2400</span>
            </p><br>
            <p class="blurb">Good option near the wedding celebration locales.</p>
        </div>
        <hr>

        <div class="container">
            <%= image_tag("latchis.jpg", :alt => "Latchis", :align => "left", :class => "hotel-img") %>
            <h2 align="center">
                <a href="http://www.latchishotel.com/?_ga=1.66917037.2036848164.1466046424">Latchis Hotel</a>
            </h2>
            <p class="hotel-deets"><span class="right-padding"><a href="https://www.google.com/maps/place/50+Main+St,+Brattleboro,+VT+05301/@42.8512944,-72.5600472,17z/data=!3m1!4b1!4m5!3m4!1s0x89e11a4f0c1a3187:0xce1972b604940b31!8m2!3d42.8512944!4d-72.5578585">50 Main St, Brattleboro, VT 05301</a></span>
            <span>Phone: (802) 254-6300</span>
            </p><br>
            <p class="blurb">This historic hotel is located in downtown Brattleboro. If ya wanna stay right in town this might be your spot!</p>
        </div>
        <hr>
        
        <div class="container">
            <%= image_tag("four_columns.jpg", :alt => "Four Columns", :align => "left", :class => "hotel-img") %>
            <h2 align="center">
                <a href="http://fourcolumnsvt.com/">Four Columns</a>
            </h2>
            <p class="hotel-deets"><span class="right-padding"><a href="https://www.google.com/maps/place/21+West+St,+Newfane,+VT+05301/@42.986448,-72.6590287,17z/data=!3m1!4b1!4m5!3m4!1s0x89e103d3e0c84649:0xc5f398eb47948bc2!8m2!3d42.986448!4d-72.65684">21 West Street, Newfane, VT 05345</a></span>
            <span>Phone: (802) 365-7713</span>
            </p><br>
            <p class="blurb">Beautiful inn and restaurant about 20 minutes north of Brattleboro.</p>
        </div>
        <hr>

        <div class="container">
            <%= image_tag("airbnb.jpg", :alt => "airbnb", :align => "left", :class => "hotel-img")%>
            <h2 align="center">
                <!--<span class="chess">K </span>-->
                <a href="https://www.airbnb.com/s/Brattleboro--VT?s_tag=S4b1ci92">Air BnB</a>
                <!--<span class="chess"> K</span>  -->
            </h2><br>
            <p class="blurb">Brattleboro boasts many interesting AirBnb options. Check it out if you'd prefer
            to stay at a cozy house in the country.</p>
        </div>
    </div>
</body>