<body id="page-todo">

    <div align="center" class="container vertical-strip white">

        <div align= "center" class="container">
            <h1 align="center" class='jumbotron jumbotron-submain'>Things to Do</h1>
        </div>
    
        <div align="center"> <!-- main container -->
    
            <div class="container">
                <a href="http://www.brattleborofarmersmarket.com/">
                    <%= image_tag("market.jpg", :alt => "market", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
    
            <div class="container">
                <a href="http://twicetime.vpweb.com/">
                    <%= image_tag("twice-upon-a-time.jpg", :alt => "market", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
    
            <div class="container">
                <a href="http://www.brattleboro.org/vertical/sites/%7BFABA8FB3-EBD9-4E2C-91F9-C74DE6CECDFD%7D/uploads/Final_Brattleboro_Trail_Map_(For_Web).pdf">
                    <%= image_tag("hiking.png", :alt => "hikes", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
    
            <div class="container">
                <a href="http://www.brattleboromuseum.org/">
                    <%= image_tag("museum.jpg", :alt => "museum", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
            
            <div class="container">
                <a href="http://www.hermitthrushbrewery.com/">
                    <%= image_tag("hermit.jpg", :alt => "hermitthrush", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
            
            <div class="container">
                <a href="http://www.retreatfarm.org/">
                    <%= image_tag("babygoats.jpg", :alt => "retreatfarm", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
    
            <div class="container">
                <a href="http://www.whetstonestation.com/">
                    <%= image_tag("whetstone-station.jpg", :alt => "whetstone", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
    
            <div class="container">
                <a href="http://www.williamsvilleeatery.com/">
                    <%= image_tag("eatery.jpg", :alt => "williamsvilleeatery", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
    
            <div class="container">
                <a href="http://www.esteyorganmuseum.org/">
                    <%= image_tag("organ.jpg", :alt => "organmuseum", :align => "center", :class => "todo-img img-responsive") %>
                </a>
            </div>
    
        </div> <!-- /main div -->
    </div>

</body>