<body id="page-todo">

    <div align="center" class="container-fluid container-border white narrow">

        <div align= "center" class="row">
            <h1 align="center" class='jumbotron jumbotron-submain'>Things to Do</h1>
        </div>

        <div class="row bottom-margin">
            <a href="http://newfaneheritagefestival.blogspot.com/">
                <h3>Newfane Heritage Festival</h3>
                <%= image_tag("festival.png", :alt => "festival", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://www.brattleboro.org/vertical/sites/%7BFABA8FB3-EBD9-4E2C-91F9-C74DE6CECDFD%7D/uploads/Final_Brattleboro_Trail_Map_(For_Web).pdf">
                <h3>Hiking</h3>
                <%= image_tag("hiking.png", :alt => "hikes", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://www.brattleborofarmersmarket.com/">
                <h3>Farmer's Markert</h3>
                <%= image_tag("market.jpg", :alt => "market", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://twicetime.vpweb.com/">
                <h3>Antiquing</h3>
                <%= image_tag("twice-upon-a-time.jpg", :alt => "market", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://www.brattleboromuseum.org/">
                <h3>Museum</h3>
                <%= image_tag("museum.jpg", :alt => "museum", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>
        
        <div class="row bottom-margin">
            <a href="http://www.retreatfarm.org/">
                <h3>Baby Goats</h3>
                <%= image_tag("babygoats.jpg", :alt => "retreatfarm", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://www.hermitthrushbrewery.com/">
                <h3>Beer</h3>
                <%= image_tag("hermit.jpg", :alt => "hermitthrush", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://www.whetstonestation.com/">
                <h3>Beer and Food</h3>
                <%= image_tag("whetstone-station.jpg", :alt => "whetstone", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://www.williamsvilleeatery.com/">
                <h3>More Beer and Food</h3>
                <%= image_tag("eatery.jpg", :alt => "williamsvilleeatery", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>

        <div class="row bottom-margin">
            <a href="http://www.esteyorganmuseum.org/">
                <h3>Organ Museum</h3>
                <%= image_tag("organ.jpg", :alt => "organmuseum", :align => "center", :class => "todo-img img-responsive") %>
            </a>
        </div>
    
    </div> <!-- /main narrow container -->

</body>