<%#= paginate obj %>

<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr table-active>
      <th id="rsvp-center">YES</th>
      <th id="rsvp-center">NO</th>
      <th>Guest(s)</th>
      <th>#</th>
      <th>Day(s)</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
  <% obj.each do |rsvp| %>
    <% if rsvp.yes? %>
      <tr class="rsvp-td-yes">
    <% else %>
      <tr class="rsvp-td-no">
    <% end %>
        <td id="rsvp-center"><%= 'X' if rsvp.yes %></td>
        <td id="rsvp-center"><%= 'X' if !rsvp.yes %></td>
        <td class="msg"><%= rsvp.names %></td>
        <td class="msg"><%= rsvp.number %></td>
        <td class="msg">
          <%= " Fri " if rsvp.friday %>
          <%= " Sat" if rsvp.saturday %>
          <%= " Sun" if rsvp.sunday %>
        </td>
        <td class="msg"><%= rsvp.msg if rsvp.msg %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%#= paginate obj %>
